header {
  height: 520px;
  width: 100%;
  background-image: url("../images/45-degree-fabric-dark.png");
  background-color: rgba(255, 166, 0, 0.93);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 120px;
  margin-bottom: 3rem;
}

header div h2 {
  margin: 0;
  color: white;
  font-weight: 300;
}

header div h2 span {
  font-weight: 600;
}

@media screen and (min-width: 827px) {
  header {
    margin-left: 5rem;
    padding-top: 2rem;
  }
  header div img {
    height: 13rem;
    width: 13rem;
  }
}
