nav {
  height: 120px;
  width: 100%;
  padding: 0 1.5em;

  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  position: fixed;
}

nav > span {
  font-family: "Bungee", sans-serif;
}

.nav-write-tweet {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-write-tweet p {
  margin: 0;
}

.nav-write-tweet p span {
  font-weight: 600;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(7px);
  }
}

.red-icon {
  color: red;
  cursor: pointer;
  animation: bounce 1s infinite;
}

.go-up {
  color: white;
  font-size: 1.75rem;
  background-color: red;
  z-index: 1000;
  position: fixed;
  left: 85%;
  bottom: 8%;
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  cursor: pointer;
}

.go-up i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (min-width: 827px) {
  nav {
    background-color: #4056a1;
    position: absolute;
    top: 0;
  }
}

@media screen and (min-width: 1036px) {
  .go-up {
    left: 90%;
  }
}

@media screen and (min-width: 1360px) {
  .go-up {
    left: 92%;
  }
}

@media screen and (min-width: 1860px) {
  .go-up {
    left: 95%;
  }
}
